* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Boostrap Font */
body {
	font-family: "Helvetica Neue", sans-serif;
}

.text-center {
	text-align: center;
}

.bg-primary {
	background-color: dodgerblue;
}

.bg-secondary {
	background-color: lightslategrey;
}

.text-light {
	color: white;
}

.border {
	border: 1px solid gray;
}

.border-dark {
	border-color: black;
}

.pt-3 {
	padding-top: 20px;
}

.pb-3 {
	padding-bottom: 20px;
}

/* Boostrap Grid Class */
.row {
	display: flex;
	flex-wrap: wrap;
}

/* 
	display: flex;
	- The "flex" value of the display property will change the element into a block-level flex container, making the child elements "flexible".
	- They will appear beside each other and have an auto-width and auto-height

	flex-wrap: flex;
	- The "flex-wrap" property with the value of "flex" will allow elements thatt exceed the width of the screen to "wrap" around and be pushed below previous elements in the same block
	- breaks the item into multiple lines
 */

/*
	- The Bootstrap Grid System uses columns instead of the normal CSS where we set pixels and other measurements.
	- It has 12 columns.
	- It divides the 100% width of an element into 12.
	- When we use, for example, 2 columns, it uses 1 of the 12
*/

.col-1 {
	width: calc(100% / 12);
}

/* 
	- The CSS "calc" function will allow us to apply calculations to the width of an element.
	- The full width of the parent element which is 100% is divided by 12.
 */

.col-2 {
	width: calc((100% / 12) *2);
}

.col-3 {
	width: calc((100% / 12) * 3);
}

.col-4 {
	width: calc((100% / 12) * 4);
}

.col-5 {
	width: calc((100% / 12) * 5);
}

.col-6 {
	width: calc((100% / 12) * 6);
}

.col-7 {
	width: calc((100% / 12) * 7);
}

.col-8 {
	width: calc((100% / 12) * 8);
}

.col-9 {
	width: calc((100% / 12) * 9);
}

.col-10 {
	width: calc((100% / 12) * 10);
}

.col-11 {
	width: calc((100% / 12) * 11);
}

.col-12 {
	width: calc((100% / 12) * 12);
}


/* Mobile First Approach */

/* Default/Extra Small */
@media (min-width: 0px) {
	body {
		background-color: lightsalmon;
	}
}


/* Small Devices */

@media (min-width: 576px) {
	body {
		background-color: yellow;
	}
}

/* Medium Devices */
@media (min-width: 768px) {
	body {
		background-color: lightgreen;
	}
}

/* Large Devices */
@media (min-width: 992px) {
	body {
		background-color: lightskyblue;
	}
}









